/* BODY */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*  MAIN CONTAINER */
#main-container {
  background-color: rgb(241, 210, 163);
  height: 100vh;
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 110px 1fr;
}

#main-header {
  background-color: black;
  color: white;
  font-size: 3em;
  padding: .5em;
  grid-column: 1 / 3;
}

#fill {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#preview {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: -5px 5px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 1fr;
  gap: 10px;
}

/* PANELS */
#personal-panel,
#general-panel,
#experience-panel,
#education-panel,
#preview-header-panel,
#preview-personal-panel,
#preview-description-panel,
#preview-experience-panel,
#preview-education-panel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#preview-header-panel {
  grid-column: 1 / 3;
  background-color: rgb(9, 69, 117);
  color: white;
  padding: 1rem;
}

#preview-panels-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.panel-header {
  font-size: 1.2rem;
  font-weight: bold;
}

#preview .panel-header {
  color: rgba(4, 70, 100, 0.877)
}

.data-input-simple,
.data-input-area,
.photo-label {
  display: flex;
  justify-content: space-between;
}

.photo-label {
  margin-top: 1rem;
}

.simple-input,
.area-input {
  width: 60%;
  border: 2px solid black;
}

.simple-input {
  width: 60%;
  border: 0;
  border-bottom: 2px solid black;
}

.simple-input:focus {
  outline: 0;
  border-bottom: 2px dashed black;
}

.area-input {
  resize: none;
  border: 1px solid rgb(190, 190, 190);
}

.area-input:focus {
  outline: 0;
  border: 1px dashed rgb(190, 190, 190);
}

.plus-button,
.minus-button {
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 20%;
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  color: white;
}

.plus-button {
  background-color: green;
}

.plus-button:hover {
  background-color: rgb(144, 236, 144);
  color: black;
}

.minus-button {
  background-color: red;  
}

.minus-button:hover {
  background-color: rgb(233, 159, 159);
  color: black;
}

.panel-header-with-button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* PREVIEW */
.photo {
  width: 100%;
}

.preview-name {
  font-size: 2.5rem;
  font-weight: bold;
}

.preview-position {
  font-size: 1.5rem;
  font-weight: bold;
}

.data-preview-personal {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.data-preview-personal-label {
  font-weight: bold;
}

.data-preview-experience,
.data-preview-education {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.data-preview-experience-from-to,
.data-preview-education-from-to {
  grid-row: 1 / 3;
  font-weight: bold;
}

.data-preview-experience-position,
.data-preview-education-university-city {
  font-weight: bold;
}


/* MEDIA */
@media only screen and (max-width: 600px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
}